nav{
    &.navbar{
        &.navbar-transparent{
            .navbar-toggler{
                color: white;
            }
        }
        
        .navbar-toggler{
            color: #66615B;
        }

        .navbar-collapse{
            height: unset !important;

            &:after{
                background-color: white;
            }

            @media screen and (max-width: 991px) {
                border-bottom: 1px solid #CCC5B9;                
            }
        }
    }
}